@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anton';
  src: local('Anton'), url(./fonts/Anton-Regular.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'NationalPark';
  src: local('NationalPark'), url(./fonts/NationalPark-Regular.otf) format('woff');
}
@font-face {
  font-family: 'NationalPark-Thin';
  src: local('NationalPark-Thin'), url(./fonts/NationalPark-Thin.otf) format('woff');
}
@font-face {
  font-family: 'NationalPark-Heavy';
  src: local('NationalPark-Heavy'), url(./fonts/NationalPark-Heavy.otf) format('woff');
}


body {
.Navbar-icon-btn img {
  border-radius: 50%;
}
}

.title-font-style {
  font-family: NationalPark;
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: left;
  color: #FFFFFF;
}

.middle-text-style {
  font-family: NationalPark;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.middle-right-title-style {
  font-family: NationalPark;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.middle-right-desc-style {
  font-family: NationalPark;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFFB8;
}
.middle-right-title-style-hover {
  color: #FE609D;
}
.middle-right-desc-style-hover {
  color: #FE609D;
}
.middle-right-main {
  max-width: 320px;
}

.no-select-font {
  color: #FFFFFFA3;
}

.xian {
  background: #FFFFFF3D;
  width: 2px;
}

.xian-hover {
  background: #FE609D;
}
.xian-1 {
  height: 26px;
}
.xian-2 {
  height: 134px;
}
.xian-3 {
  height: 130px;
}
.xian-4 {
  height: 134px;
}
.xian-5 {
  height: 90px;
}

.card-border-top {
  border-left: 2px dashed #07CEFA;
  /*border-left-style: dashed;*/

}

.card-border-1 {
  height: 64px;
}
.card-border-2 {
  height: 176px;
}

.card-border-3 {
  height: 134px;
}

.card-border-bottom {
  border-left: 2px dashed #E0E2EC;
  /*border-left-style: dashed;*/
}
.card-border-round {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 2px solid #E0E2EC;
}

.card-card {
  border: 2px solid #E0E2EC;
  padding: 16px 80px;
  margin-bottom: 20px;
}
.neuron-title {
  font-family: NeverMind Rounded;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

}
.neuron-address {
  font-family: NeverMind Rounded;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #131313;
  border: 1px solid #E0E2EC;
  border-radius: 8px;
  padding: 8px 0;
  margin-top: 16px;
}
.neuron-icon {
  width: 48px;
}
.neuron-claim-text {
  font-family: NeverMind Rounded;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #727778;
  margin-top: 16px;
}
.neuron-claim-nft-num {
  color: #131313;
  margin: 0 4px;
}
.neuron-input {
  align-items: center;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  width: 212px;
}
.neuron-input-svg {
  margin-right: 8px;
}
.neuron-input-left {
  width: 20px;
}
.qiu {
  width: 24px;
  height: 24px;
  border: 2px solid #FFFFFF3D;
}
.qiu-hover {
  width: 24px;
  height: 24px;
  background: #FE609D;
}
.bottom-card-left {
  background: #FFFFFF;
  box-shadow: 0px 4px 24px 0px #85CBE4;

}

.bottom-tab-container {
  border-bottom: 1px solid #EEEEEE;
}

.bottom-tab {
  font-family: NationalPark;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  color: #131313;
  width: 214px;
  height: 48px;
  cursor: pointer;
}

.bottom-tab-hover {
  color: #07CEFA;
  border-bottom: 2px solid #07CEFA;
}

.bottom-card-img {
  width: 96px;
  height: 96px;
}

.popup-title {
  font-family: National Park ;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #131313;
  margin-left: 4px;
}

.popup-msg {
  font-family: National Park ;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #131313;
  margin-top: 20px;

}

.popup-key {
  font-family: National Park ;
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: center;
  color: #131313;

}

.popup-desc {
  font-family: National Park ;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #727778;
  margin-top: 20px;
}

.popup-sign {
  font-family: National Park ;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #131313;
  margin-top: 40px;
}

.popup-button {
  background: linear-gradient(180deg, #07CEFA 0%, #0794FA 100%);
  border-radius: 12px!important;
  text-align: center!important;
  margin-top: 40px!important;
  text-transform:none!important;
}

.joyid-button {
  border-radius: 12px!important;
  text-align: center!important;
  margin-top: 10px!important;
  background: #D2FF00!important;
  color: #131313!important;
  font-weight: bold!important;
  width: 200px!important;
  text-transform:none!important;
}

.card-main {
  gap: 20px;
}

.Claim-button {
  border-radius: 12px!important;
  text-align: center!important;
  margin-top: 10px!important;
  background: #CCCCCC!important;
  color: #FFFFFF!important;
  font-weight: bold!important;
  width: 380px!important;
  text-transform:none!important;
}

.min-w-150 {
  min-width: 600px;
}

.w-15 {
  width: 60px;
}

.connect-neuron-button {
  display: flex;
  height: 40px;
  width: 160px;
  padding: 0px 16px;
  justify-content: center;
  gap: 8px;
  align-items: center;
  border: 1px solid #131313;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
}
.connect-neuron-button img {
  width: 20px;
}
.connect-main {
  gap: 8px;
  margin: 28px 0;
}